@mixin mobile {
    @media (min-width: 360px) {
        @content;
    }
}

@mixin tabletNormal {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin tabletPaisagem {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin LaptopPadrao {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin LaptopHD {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin DesktopPadrao {
    @media (min-width: 1920px) {
        @content;
    }
}

@mixin DesktopHd {
    @media (min-width: 2560px) {
        @content;
    }
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    @include tabletPaisagem(){
        width: calc(100% - 7rem);
        justify-content: center;
        margin: 0 auto;
        flex-direction: row;
    }
}