@mixin mobile {
    @media (min-width: 360px) {
        @content;
    }
}

@mixin tabletNormal {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin tabletPaisagem {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin LaptopPadrao {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin LaptopHD {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin DesktopPadrao {
    @media (min-width: 1920px) {
        @content;
    }
}

@mixin DesktopHd {
    @media (min-width: 2560px) {
        @content;
    }
}

.left{
    display: flex;
    flex-direction: column;

    @include tabletPaisagem(){
        margin-left: auto;
        min-width: 25%;
        width: 25%;
    }

    h2{
        color: var(--cor-secundaria);
        font-size: 2.5rem;
        line-height: 3.375rem;
        margin-top: 7.125rem;
        font-weight: 600;
        width: 100%;
        text-align: center;
        max-width: 24rem;
        
        @include tabletPaisagem(){
            width: auto;
            text-align: left;
        }

        span{
            color: var(--cor-primaria);
        }
    }

    p{
        color: #323433;
        font-size: 1rem;
        margin-top: 1.5rem;
        max-width: 21.875rem;
        width: 100%;
        text-align: center;

        @include tabletPaisagem(){
            width: auto;
            text-align: left;
        }
    }
    
    button{
        background-color: var(--cor-primaria);
        color: white;
        width: 8.625rem;
        height: 3.5rem;
        border: none;
        border-radius: .25rem;
        font-weight: 500;
        cursor: pointer;
        margin-top: 2.5rem;
        align-self: flex-start;
    }
}