@mixin mobile {
    @media (min-width: 360px) {
        @content;
    }
}

@mixin tabletNormal {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin tabletPaisagem {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin LaptopPadrao {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin LaptopHD {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin DesktopPadrao {
    @media (min-width: 1920px) {
        @content;
    }
}

@mixin DesktopHd {
    @media (min-width: 2560px) {
        @content;
    }
}

.content{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 4rem;
	margin-bottom: 4rem;

	& > div{
		display: grid;
		grid-template-columns: 1fr 1fr;
		row-gap: 1.5rem;
		column-gap: 1rem;

		@include tabletNormal(){
			grid-template-columns: repeat(auto-fill, minmax(283px, 1fr));
			width: calc(100% - 7rem);
			column-gap: 1.6875rem;
			justify-items: center;
		}
	}
}