.itemList {
    display: flex;
    gap: 0.625rem;

    div {
        background-color: var(--cor-primaria);
        width: 1.3125rem;
        height: 1.3125rem;
        border-radius: 1rem;
        background-image: url("./Check.svg");
        background-size: 0.625rem 0.4375rem;
        background-position: 50%;
        background-repeat: no-repeat;
    }

    p {
        color: #5d5a88;
        font-family: var(--dm-sans);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.125rem;
    }
}
