.header{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #23272F;
    height: 4rem;
    align-items: center;
    color: var(--react-texto-primario);

    > nav{
        display: flex;
        justify-content: space-between;
        width: calc(100% - 2rem);
        height: 100%;
        align-items: center;

        > div:first-child{
            padding: .25rem;
            display: flex;
            align-items: center;
            gap: .5rem;
            color: var(--react-white);

            > a{
                display: flex;
                gap: 0.5rem;
                align-items: center;

                > img{
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }

            > span{
                color: var(--react-texto-secundario);
                font-size: .875rem;
            }
        }

        > button{
            width: 56rem;
            height: 2rem;
            box-sizing: content-box;
            padding: .25rem .25rem .25rem 1rem;
            border-radius: 3.75rem;
            background-color: var(--react-enphasis);
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: var(--react-texto-secundario);

            > div:first-child{
                display: flex;
                align-items: center;

                > img{
                    width: .9375rem;
                    height: .9375rem;
                    margin-right: .75rem;
                }
            }
        }

        > div:last-child{
            display: flex;
            gap: .375rem;
        }
    }
}