@mixin mobile {
    @media (min-width: 360px) {
        @content;
    }
}

@mixin tabletNormal {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin tabletPaisagem {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin LaptopPadrao {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin LaptopHD {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin DesktopPadrao {
    @media (min-width: 1920px) {
        @content;
    }
}

@mixin DesktopHd {
    @media (min-width: 2560px) {
        @content;
    }
}

.openedQuestion {
    display: flex;
    width: calc(100vw - 3rem);
    min-height: 9.5rem;
    border-radius: 0.75rem;
    position: relative;

    @include tabletPaisagem() {
        width: 50.8125rem;
    }

    & > div:first-child {
        margin-left: 2.25rem;

        h2 {
            margin-top: 1.5rem;
            color: var(--cor-secundaria);
            font-family: var(--poppins);
            font-size: 1.375rem;
            font-weight: 600;
            line-height: 1.75rem;
        }

        p {
            color: var(--cor-secundaria);
            font-size: 1.125rem;
            font-weight: 400;
            font-family: var(--poppins);
            line-height: 1.875rem;
            margin-top: 1rem;
        }
    }

    & > div:last-child {
        display: flex;
        align-items: center;

        button {
            width: 2rem;
            height: 2rem;
            background-color: var(--cor-secundaria);
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            margin-right: 2.25rem;
            margin-left: 2.25rem;
            cursor: pointer;
            border: none;
        }
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--cor-primaria);
        opacity: 0.15;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0.75rem;
        z-index: -1;
    }
}

.closedQuestion {
    position: relative;
    display: flex;
    min-height: 5.125rem;
    align-items: center;
    justify-content: space-between;
    width: calc(100vw - 3rem);
    border: 1px solid #505050;
    border-radius: 0.75rem;

    @include tabletPaisagem() {
        width: 50.8125rem;
    }

    & > div:first-child {
        margin-left: 2.25rem;

        h2 {
            color: var(--cor-secundaria);
            font-family: var(--poppins);
            font-size: 1.375rem;
            font-weight: 600;
            line-height: 1.75rem;
            margin-left: 2.25rem;
        }

        p {
            color: var(--cor-secundaria);
            font-size: 1.125rem;
            font-weight: 400;
            font-family: var(--poppins);
            line-height: 1.875rem;
            margin-top: 1rem;
        }
    }

    & > div:last-child {
        display: flex;
        align-items: center;

        button {
            background-color: var(--cor-primaria);
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 2.25rem;
            cursor: pointer;
            border: none;
        }
    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: var(--cor-primaria);
        opacity: 0.15;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0.75rem;
        z-index: -1;
    }
}
