.single{
    width: 19.0625rem;
    height: 2.875rem;
    padding-left: 1.25rem;
    border-radius: 0 .9375rem .9375rem 0;
    color: var(--react-white);
    font-size: 1.125rem;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &:hover{
        background-color: #343A46;
    }

    &.active{
        background-color: #283541;
        color: var(--react-texto-primario);
    }
}