@mixin mobile {
    @media (min-width: 360px) {
        @content;
    }
}

@mixin tabletNormal {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin tabletPaisagem {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin LaptopPadrao {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin LaptopHD {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin DesktopPadrao {
    @media (min-width: 1920px) {
        @content;
    }
}

@mixin DesktopHd {
    @media (min-width: 2560px) {
        @content;
    }
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;

    p {
        text-align: center;
        max-width: 38.375rem;
        width: calc(100% - 3rem);
        font-size: 1.125rem;
        line-height: 1.875rem;
        font-weight: 400;
        font-family: var(--dm-sans);
        color: var(--cor-secundaria);
        opacity: 0.8;
    }
}
