div.main {
    flex-grow: 1;
    height: 100vh;
    color: var(--spring-texto-primario);

    > div:first-child {
        margin-inline: 2.25rem;
        height: 1.3496rem;
        padding: 1.25rem;
        box-sizing: content-box;
        border-bottom: var(--spring-borda-separacao);

        > span {
            padding: 0 0.5625rem;
            line-height: 1.3125rem;
        }

        > a {
            font-size: 1rem;

            &:hover {
                text-decoration: underline;
                color: var(--spring-texto-secundario);
            }
        }
    }

    > div:last-child {
        padding: 1.25rem;
        padding-top: 0.75rem;
        margin-inline: 2.25rem;

        > h1 {
            font-size: 2.625rem;
            font-weight: 500;
            color: #cecfd1;
        }

        > p{
            font-size: 1.0625rem;
            margin-top: 1.125rem;
        }
    }
}
