div.main {
    flex-grow: 1;
    height: 100vh;
    width: 100%;
    max-width: calc(100vw - 657px);
    color: var(--spring-texto-primario);

    > div:first-child {
        margin-inline: 2.25rem;
        height: 1.3496rem;
        padding: 1.25rem;
        box-sizing: content-box;
        border-bottom: var(--spring-borda-separacao);

        > span {
            padding: 0 0.5625rem;
            line-height: 1.3125rem;
        }

        > a {
            font-size: 1rem;

            &:hover {
                text-decoration: underline;
                color: var(--spring-texto-secundario);
            }
        }
    }

    > div:last-child {
        padding: 1.25rem;
        padding-top: 0.75rem;
        margin-inline: 2.25rem;

        h1 {
            font-size: 2.625rem;
            font-weight: 500;
            color: #cecfd1;
        }

        h2 {
            font-size: 1.625rem;
            margin-top: calc(8px + 36px);
            font-weight: 500;
            color: #cecfd1;
        }

        p {
            font-size: 1.0625rem;
            margin-top: 1.125rem;
            line-height: 1.7rem;
        }

        ul {
            list-style-type: initial;
            list-style-position: outside;
            padding-left: 2.25rem;
            margin-top: 1.125rem;

            > li {
                padding-left: px;
                margin-bottom: 0.5em;
                line-height: 1.4;
            }
        }

        a {
            color: var(--spring-texto-secundario);

            &:hover {
                text-decoration: underline;
            }
        }

        > div.navigation {
            margin-top: 2.25rem;
            border-top: 1px solid #ffffff33;
            padding-top: 0.8438rem;
            display: flex;
            justify-content: space-between;

            > div {
                display: flex;
                flex-direction: column;
                padding-top: 0.8125rem;
                padding-inline: 1.125rem;

                > span {
                    font-size: 0.7969rem;
                }

                > div {
                    display: flex;
                    align-items: center;
                    gap: 0.625rem;

                    > a {
                        font-size: 1.0625rem;
                    }

                    > div {
                        background-image: url(./chevron-white.svg);
                        width: 10px;
                        height: 10px;
                        rotate: -90deg;
                        background-repeat: no-repeat;
                        background-size: 100%;
                    }
                }

                &.anterior {
                    align-items: flex-start;

                    > div > div {
                        rotate: 90deg;
                    }
                }

                &.proximo {
                    align-items: flex-end;
                }
            }
        }
    }
}
