@mixin mobile {
    @media (min-width: 360px) {
        @content;
    }
}

@mixin tabletNormal {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin tabletPaisagem {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin LaptopPadrao {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin LaptopHD {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin DesktopPadrao {
    @media (min-width: 1920px) {
        @content;
    }
}

@mixin DesktopHd {
    @media (min-width: 2560px) {
        @content;
    }
}

.form{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;

	> div{
		display: flex;
		gap: 1.5rem;
		width: 100%;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		&:last-child{
			flex-direction: row;
			gap: 0;
		}

		@include tabletNormal(){
			width: 100%;
			flex-direction: row;
		}

		> div{
			display: flex;
			justify-content: center;
			flex-grow: 1;

			@include tabletNormal(){
				height: 3.5rem;
			}

			input{
				width: calc(100vw - 6rem);
				padding: 0 1.5rem;
				outline-color: var(--cor-primaria);
				color: #000;
				font-family: var(--poppins);
				font-weight: 400;
				font-size: 1rem;
				line-height: 1.5;
				border-radius: 0.5rem;
				border: 1px solid #BEC0BF;
				height: 3.5rem;

				@include tabletNormal(){
					width: 100%;
				}

				&::placeholder{
					color: #92929D;
					font-family: var(--poppins);
					font-weight: 400;
					font-size: 1rem;
					line-height: 1.5;
				}

				&:focus{
					outline-color: var(--cor-primaria);
				}
			}
		}

		textArea{
			width: calc(100vw - 6rem);
			outline-color: var(--cor-primaria);
			padding: 1.5rem 1.5rem;
			color: #000;
			font-family: var(--poppins);
			font-weight: 400;
			font-size: 1rem;
			line-height: 1.5;
			border-radius: 0.5rem;
			border: 1px solid #BEC0BF;
			height: 100%;
			max-height: 9.5rem;

			@include tabletNormal(){
				width: 100%;
			}

			&::placeholder{
				color: #92929D;
				font-family: var(--poppins);
				font-weight: 400;
				font-size: 1rem;
				line-height: 1.5;
			}

		}
	}
}