@mixin mobile {
    @media (min-width: 360px) {
        @content;
    }
}

@mixin tabletNormal {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin tabletPaisagem {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin LaptopPadrao {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin LaptopHD {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin DesktopPadrao {
    @media (min-width: 1920px) {
        @content;
    }
}

@mixin DesktopHd {
    @media (min-width: 2560px) {
        @content;
    }
}

.card{
	width: 100vw;
	height: auto;
	display: flex;
	background-color: #FAFAFA;
	border-radius: .5rem;
	min-height: 6.5rem;
	justify-content: flex-start;
	align-items: center;
	margin: 0 auto;

	@include tabletNormal(){
		width: 21.875rem;
	}

	& > div:first-child{
		margin-left: 1.5rem;

		& > div{
			&:first-child{
				background-color: var(--cor-primaria);
				width: 3.5rem;
				height: 3.5rem;
				border-radius: .75rem;
				display: flex;
				justify-content: center;
				align-items: center;
			}

		}
	}

	& > div:last-child {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-left: 1.125rem;
		min-height: 3.5rem;
		max-height: 3.5rem;

		h3{
			margin-top: .25rem;
			color: var(--cor-secundaria);
			font-family: var(--poppins);
			font-weight: 500;
			font-size: 1rem;
		}

		p{
			font-family: var(--poppins);
			font-size: 1rem;
			font-weight: 500;
			line-height: 1.125rem;
			color: #11142D;
			margin-bottom: .25rem;
		}
	}
}