.sidebarItem {
    padding-block: 0.45rem;
    padding-inline: 0.75rem 0.5625rem;
    font-size: 0.875rem;
    margin-left: 0.625rem;
    box-sizing: border-box;
    border-radius: 0.1875rem;
    height: 2.0791rem;
    border: none;
    background-color: transparent;
    display: flex;
    width: calc(100% - 10px);

    &:hover {
        color: var(--spring-texto-secundario);
        background-color: #262a2d;
    }

    &.active {
        background-color: white;
        color: var(--spring-background);
    }
}
