.content {
    display: flex;
    width: 100%;

    > div.sidebar {
        width: 300px;
        flex-shrink: 0;
        height: 100vh;
        background-color: blue;
    }

    > div.content {
        width: 100%;
        display: flex;

        > div.info {
            width: 21rem;
            height: 100vh;
            background-color: rebeccapurple;
        }
    }
}
