.sidebar{
    display: flex;
    flex-direction: column;
    width: 21.375rem;

    > h4{
        margin-left: 1.25rem;
        margin-top: 1rem;
        color: var(--react-texto-secundario);
        font-size: .875rem;
        margin-bottom: .375rem;
    }
}