.layout {
    display: flex;
    width: 100%;

    > div.content {
        width: 100%;
        display: flex;

        > div.info {
            width: 21rem;
            height: 100vh;
            background-color: rebeccapurple;
        }
    }
}
