.content {
    display: flex;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;

    > div:nth-child(2) {
        > h1 {
            color: white;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 3.125rem;
        }

        > h2 {
            color: white;
            font-size: 1.75rem;
            font-weight: 400;
            line-height: 2.5rem;
            margin-block: 1.5rem;
        }

        > h3 {
            color: white;
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 2.0313rem;
            margin-block: 1rem;
        }

        > h4 {
        }

        > h5 {
        }

        > h6 {
        }

        > a {
        }

        > p {
            color: white;
            font-size: 1.0625rem;
            font-weight: 400;
            line-height: 1.875rem;
            margin-block: 1rem;

            a {
                color: var(--react-texto-primario);
            }
        }

        > span {
        }

        ul {
            color: white;
            font-size: 1.0625rem;
            font-weight: 400;
            line-height: 1.875rem;
            list-style-type: disc;
            padding-left: 1.25rem;

            li > a {
                color: var(--react-texto-primario);
            }
        }

        > ol {
            color: white;
            font-size: 1.0625rem;
            font-weight: 400;
            line-height: 1.875rem;
            list-style-type: decimal;
            padding-left: 1.25rem;

            > li {
                text-indent: 0.625rem;
                > a {
                    color: var(--react-texto-primario);
                }
            }
        }

        > pre {
            background-color: #16181d;
            border-radius: 0.9375rem;
            padding: 2rem;
            margin-block: 2rem;
            color: white;

            > code {
            }
        }

        > hr {
            border-bottom-color: rgb(52, 58, 70);
            border-bottom-width: 0.0625rem;
            border-top-color: rgb(52, 58, 70);
            margin-top: 1.25rem;
        }
    }

    > div.infoBar {
        width: 320px;
        background-color: red;
        height: 100vh;
        flex-shrink: 0;
    }
}
