@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$cor-primaria: #006732;
$cor-secundaria: #15295F;
$dm-sans: 'DM Sans', sans-serif;
$poppins: 'Poppins', sans-serif;