@mixin mobile {
    @media (min-width: 360px) {
        @content;
    }
}

@mixin tabletNormal {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin tabletPaisagem {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin LaptopPadrao {
    @media (min-width: 1280px) {
        @content;
    }
}

@mixin LaptopHD {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin DesktopPadrao {
    @media (min-width: 1920px) {
        @content;
    }
}

@mixin DesktopHd {
    @media (min-width: 2560px) {
        @content;
    }
}

.herosection {
    width: 100vw;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    div {
        width: calc(100vw - 3rem);
        height: 5.8125rem;
        border: 3px solid white;
        font-family: var(--poppins);
        font-size: 1.5rem;
        font-weight: 600;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 22.625rem;

        @include tabletNormal() {
            font-size: 3rem;
            width: 22.625rem;
        }

        &::after {
            width: 100%;
            height: 100%;
            background-color: transparent;
            position: absolute;
            content: "";
            top: 0;
            left: 0;
        }
    }
}
